#modal {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($black, 0.5);
	@include transition;

	&.is__active {
		visibility: visible;
		pointer-events: all;
		opacity: 1;
	}

	.inner {

		.request {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: auto;
			width: 80vw;
			max-width: 800px;
			padding: 10px 20px;
			box-sizing: border-box;
			height: 45vh;
			background: $darkblue;
			border-radius: 15px;

			#close {
				border-top-right-radius: 15px;
				position: absolute;
				z-index: 99;
				width: 50px;
				height: 50px;
				top: 0;
				right: 0;
				@include flex($jc: center, $ai: center);
				background: $blue;
				cursor: pointer;

				&:before {
					content: 'X';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					right: 0;
					font: 100 25px $fontFamily;
					line-height: 0.5;
					text-align: center;
					margin: auto;
					color: $white;
				}
			}

			.inner {

				.title {
					display: block;
					font: 500 30px $fontFamily;
					color: $white;
				}
				
				.list {
					margin: 0 auto;
					width: 100%;
					@include flex;

					.item {
						margin-top: 15px;
						width: calc(100% / 4 - 10px);
						@include flex($jc: center, $ai: center);
						min-height: 150px;
						background: $lightgray;
						font: 700 15px $fontFamily;
						color: $black;
						text-align: center;

						span {
							word-break: break-all;
						}
					}
				}
			}
		}
	}
}